<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <a href="/">
                    <img src="assets/images/prosperalogo.png" width="175" alt="Logo Prospera"></a>
            </div>
            <div class="toggle-icon ms-auto">
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">

            <li class="menu-label">Main</li>
            <li>
                <a href="/">
                    <div class="parent-icon"><i class='bx bx-home'></i>
                    </div>
                    <div class="menu-title">Home</div>
                </a>
            </li>

            <li class="menu-label">Respondents</li>
            <li>
                <a href="/demographics">
                    <div class="parent-icon"><i class='bx bx-user'></i>
                    </div>
                    <div class="menu-title">Demographics</div>
                </a>
            </li>

            <li class="menu-label">Digital literacy</li>
            <li>
                <a href="/ict-users">
                    <div class="parent-icon"><i class='bx bx-devices'></i>
                    </div>
                    <div class="menu-title">Digital literacy of ICT users</div>
                </a>
            </li>
            <li>
                <a href="/ict-professionals">
                    <div class="parent-icon"><i class='bx bx-terminal'></i>
                    </div>
                    <div class="menu-title">Digital literacy of ICT professionals</div>
                </a>
            </li>

            <li class="menu-label">Institutional capability</li>
            <li>
                <a href="/digital-infra">
                    <div class="parent-icon"><i class='bx bx-plug'></i>
                    </div>
                    <div class="menu-title">Digital infrastructure</div>
                </a>
            </li>
            <li>
                <a href="/digital-culture">
                    <div class="parent-icon"><i class='bx bx-cloud-download'></i>
                    </div>
                    <div class="menu-title">Digital culture and work environment</div>
                </a>
            </li>

        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->