<!--wrapper-->
<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="assets/images/prosperalogo.png" width="175" alt="Logo Prospera">
            </div>
            <div class="toggle-icon ms-auto">
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">

            <li class="menu-label">Main</li>
            <li>
                <a href="#">
                    <div class="parent-icon"><i class='bx bx-home'></i>
                    </div>
                    <div class="menu-title">Home</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->